.team-items{
    height: auto;
    overflow: hidden;
}
#dark .team-items{
    background-color: #38004c;
    color: white;
}
.team-items img{
    height: 240px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 2s,filter 1.5s ease-in-out;
    transform-origin: center;
    filter: brightness(50%);
}
.team-items img:hover{
    filter: brightness(100%);
    transform: scale(1.05);
}
.team-card .card{
    border: none;
    box-shadow: 5px 5px 7px -1px #e7aaaa;
    cursor: pointer;
}
.team-card .card:hover{
    box-shadow: 7px 7px 14px 1px #cd5c5c;
    transition-duration: 2s;
}
.team-line{
    width: 170px;
    height: 2px;
    margin: 2px auto;
    display: block;
    background-color: #cd5c5c;
}
.fb{
    transition: transform 1s,filter 1s ease-in-out;
    transform-origin: center;
    color: #cd5c5c;
}
.fb:hover{
    transform: scale(1.15);
    color: #a01c1c;
}
.twtr{
    transition: transform 1s,filter 1s ease-in-out;
    transform-origin: center;
    color: #cd5c5c;
}
.twtr:hover{
    transform: scale(1.15);
    color: #a01c1c;
}
.inst{
    transition: transform 1s,filter 1s ease-in-out;
    transform-origin: center;
    color: #cd5c5c;
}
.inst:hover{
    transform: scale(1.15);
    color: #a01c1c;
}

@media(max-width:1000px){
    .team-section{
        height: auto;
    }
}